/* ======================== Css Reset Style  ========================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================== Declare variabels css  ========================*/
:root {
  --primary-color: #758bfd;
  --white-color: #ffffff;
}

/* ======================== Css Fonts Add  ========================*/

@font-face {
  font-family: iran-sans-regular;
  src: url("../assets/fonts/ttf/IRANSansX-Regular.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Regular.woff2") format("woff");
}
@font-face {
  font-family: iran-sans-medium;
  src: url("../assets/fonts/ttf/IRANSansX-Medium.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Medium.woff2") format("woff");
}
@font-face {
  font-family: iran-sans-bold;
  src: url("../assets/fonts/ttf/IRANSansX-Bold.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Bold.woff2") format("woff");
}

/* ======================== Css general Style  ========================*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
* ::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  font-family: iran-sans-medium;
  cursor: pointer;
}
body {
  font-size: 1.6rem;
  font-family: iran-sans-regular, Arial, Helvetica, sans-serif;
  background-color: #f8f8fa;
  direction: rtl;
}
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

/* ======================== Css Component Style  ========================*/
.sm-icon {
  width: 2.5rem;
  height: 2.5rem;
}
/* ======================== Start Main  Style  ========================*/

/* 
  ===================
    style header  
  ===================
*/

.header {
}
.nav {
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper-right {
  background-color: var(--white-color);
  box-shadow: 0px 13px 26px 0px rgba(12, 12, 12, 0.06);
  flex-basis: 70%;
  padding: 2rem 0;
  border-bottom-left-radius: 4rem;
}
.nav__wrapper-right {
  display: flex;
  align-items: center;
}
.nav-brand {
}
.nav-brand__img {
  width: 15rem;
}
.nav-menu {
  display: flex;
  margin-right: 5rem;
}
.nav-menu__item {
  margin-left: 3.2rem;
}
.nav-menu__link {
  color: #636363;
  font-family: iran-sans-bold;
  transition: all 150ms ease-in;
}
.nav-menu__link--active {
  color: var(--primary-color);
}
.nav-menu__link:hover {
  color: var(--primary-color);
}
.nav-wrapper-left {
  flex-basis: 30%;
}
.nav__wrapper-left {
  display: flex;
  justify-content: flex-end;
}
.nav-wrapper-left__basket-btn {
  width: 5rem;
  height: 5rem;
  border: 1px solid #0000001a;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-wrapper-left__login-btn {
  background-color: var(--primary-color);
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  color: var(--white-color);
  font-family: iran-sans-bold;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.nav-wrapper-left__login-btn span {
  display: block;
  margin-right: 0.7rem;
}
