/* ======================== Css Reset Style  ========================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================== Declare variabels css  ========================*/
:root {
  --primary-color: #758bfd;
  --white-color: #ffffff;
}

/* ======================== Css Fonts Add  ========================*/

@font-face {
  font-family: iran-sans-regular;
  src: url("../assets/fonts/ttf/IRANSansX-Regular.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Regular.woff2") format("woff");
}
@font-face {
  font-family: iran-sans-medium;
  src: url("../assets/fonts/ttf/IRANSansX-Medium.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Medium.woff2") format("woff");
}
@font-face {
  font-family: iran-sans-bold;
  src: url("../assets/fonts/ttf/IRANSansX-Bold.ttf") format("ttf"),
    url("../assets/fonts/woff2/IRANSansX-Bold.woff2") format("woff");
}

/* ======================== Css general Style  ========================*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
* ::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  background: transparent;
  border: none;
  font-family: iran-sans-medium;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  font-family: iran-sans-regular;
}
body {
  font-size: 1.6rem;
  font-family: iran-sans-regular, Arial, Helvetica, sans-serif;
  background-color: #f8f8fa;
  direction: rtl;
  line-height: 2;
}
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

/* ======================== Css Component Style  ========================*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 88;
  width: 100%;
  height: 100%;
}
.sm-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 55rem;
  margin: 0 auto;
}
.section-heading__title {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border-radius: 1.2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.3rem;
  padding: 0.15rem 1rem;
  margin: 0 2rem;
}
.section-heading__row-1,
.section-heading__row-2 {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d8d6d6;
}

.section__title {
  text-align: center;
  font-size: 3rem;
  font-family: iran-sans-medium;
  margin-top: 1.2rem;
}

/* ======================== Start Main  Style  ========================*/

/* 
  ===================
    style header  
  ===================
*/

.header {
  padding: 0;
}
.nav {
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper-right {
  background-color: var(--white-color);
  box-shadow: 0px 13px 26px 0px rgba(12, 12, 12, 0.06);
  flex-basis: 70%;
  padding: 2rem 0;
  border-bottom-left-radius: 4rem;
}
.nav__wrapper-right {
  display: flex;
  align-items: center;
}
.nav-brand {
}
.nav-brand__img {
  width: 15rem;
}
.nav-menu-desktop {
  display: flex;
  margin-right: 5rem;
}
.nav-menu-desktop__item {
  margin-left: 3.2rem;
}
.nav-menu-desktop__link {
  color: #636363;
  font-family: iran-sans-bold;
  transition: all 150ms ease-in;
}
.nav-menu-desktop__link--active {
  color: var(--primary-color);
}
.nav-menu-desktop__link:hover {
  color: var(--primary-color);
}
.nav-wrapper-left {
  flex-basis: 30%;
}
.nav__wrapper-left {
  display: flex;
  justify-content: flex-end;
}
.nav-wrapper-left__basket-btn {
  width: 5rem;
  height: 5rem;
  border: 1px solid #0000001a;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-wrapper-left__login-btn {
  background-color: var(--primary-color);
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  color: var(--white-color);
  font-family: iran-sans-bold;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.nav-wrapper-left__login-btn span {
  display: block;
  margin-right: 0.7rem;
}
.mobile-nav__left-btns {
  display: none;
}
.mobile-nav__btn,
.mobile-basket__btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 100%;
}
.mobile-nav__btn {
  margin-left: 1rem;
}
.mobile-nav__btn svg,
.mobile-basket__btn svg {
  stroke: var(--white-color);
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-menu {
  padding: 1.5rem;
  width: 30rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -30rem;
  color: var(--white-color);
  background-image: url("../assets/images/mobile-menu-shape.png"),
    linear-gradient(90deg, #758bfd, #758bfd);
  background-size: cover;
  background-position: right center;
  transition: all 200ms ease-in;
  height: 110%;
  z-index: 99;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 2rem;
  color: white;
  font-size: 2rem;
  z-index: 99;
  left: 32rem;
  transition: all 200ms ease-in;
  visibility: hidden;
  opacity: 0;
}
.mobile-menu__close-btn svg {
  stroke: var(--white-color);
  width: 3.2rem;
  height: 3.2rem;
}
.mobile-menu--open {
  left: 0;
}
.mobile-menu--open .mobile-menu__close-btn {
  visibility: visible;
  opacity: 1;
}
.nav-menu-mobile {
  margin-top: 1.5rem;
}
.nav-menu-mobile__item {
  margin-bottom: 3.5rem;
}
.nav-menu-mobile__link {
  color: #dddddd;
  font-family: iran-sans-bold;
}
.nav-menu-mobile__link:hover {
  color: var(--white-color);
}
.nav-menu-mobile__link--active {
  font-size: 1.6rem;
  color: var(--white-color);
}
.mobile-menu-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mobile-menu__icons {
  position: absolute;
  bottom: 15%;
  right: 25%;
}
.mobile-menu-icons__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
}

.mobile-menu__copy-right {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

/* 
  ======================
    style section home  
  ======================
*/

.home {
  margin-top: 4rem;
}
.home-wrapper {
  display: flex;
  align-items: center;
}
.home-wrapper-img {
  flex-basis: 50%;
}
.home-wrapper__img {
  width: 100%;
  object-fit: cover;
}

.home-wrapper-content {
  flex-basis: 50%;
  margin-right: 1rem;
}
.home-wrapper-content__title {
  font-size: 4.5rem;
  max-width: 32rem;
  font-weight: bold;
  line-height: 1.75;
}
.home-wrapper-content__title span {
  color: var(--primary-color);
}
.home-wrapper__content {
  max-width: 52rem;
}
.home-wrapper-content__caption {
  color: #ababac;
  margin-top: 2rem;
}
.home-wrapper__input {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.home-wrapper-content__input {
  padding: 1.75rem 2rem;
  border-radius: 2rem;
  width: 100%;
  box-shadow: 0px 14px 23px 0px rgba(12, 12, 12, 0.06);
}
.home-wrapper-content__btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: iran-sans-bold;
  display: flex;
  align-items: center;
  padding: 1.75rem 2rem;
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
}
.home-wrapper-content__btn svg {
  width: 1.6rem;
  height: 1.6rem;
}
.home-wrapper-content__btn span {
  display: block;
  margin-right: 0.5rem;
}

/* 
  ===============================
    style section book-grouping  
  ===============================
*/
.book-grouping {
  padding: 6rem 0;
  background-color: var(--white-color);
}
.book-grouping-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.book-grouping-item {
  height: fit-content;
  border-radius: 3rem;
  position: relative;
}
.book-grouping-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: linear-gradient(90deg, #105372, #105372);
}
.book-grouping-item:nth-child(1) .book-grouping-item__img {
}
.book-grouping-item:nth-child(2) .book-grouping-item__img {
  background-image: linear-gradient(90deg, #26292a, #26292a);
}
.book-grouping-item:nth-child(3) .book-grouping-item__img {
  background-image: linear-gradient(90deg, #ff6600, #ff6600);
}
.book-grouping-item:nth-child(4) .book-grouping-item__img {
  background-image: linear-gradient(90deg, #758bfd, #758bfd);
}
.book-grouping-item:nth-child(5) .book-grouping-item__img {
  background-image: linear-gradient(90deg, #f1f2f6, #f1f2f6);
}
.book-grouping-item__img {
  width: 100%;
  border-radius: 3rem;
  object-fit: cover;
}
.book-grouping-item__description {
  color: var(--white-color);
  font-family: iran-sans-medium;
  position: absolute;
  top: 8%;
  z-index: 99;
  right: 8%;
}
.book-grouping-item:nth-child(5) .book-grouping-item__description {
  color: #111111;
}

/* 
  ===============================
    style section best-sellers  
  ===============================
*/
.best-sellers {
  padding-top: 6rem;
}
.best-sellers-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin-top: 3rem;
}
.best-sellers-box {
  overflow: hidden;
  border-radius: 3rem;
  padding: 1.6rem;
  background-color: var(--white-color);
}
.best-sellers-box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.best-sellers-box-content__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.best-sellers-box-img {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: 25rem;
}
.best-sellers-box__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.best-sellers-box__title {
  font-family: iran-sans-medium;
  font-size: 1.6rem;
  transition: all 200ms ease-in;
}
.best-sellers-box__title:hover {
  color: var(--primary-color);
}
.best-sellers-box__price {
  font-family: iran-sans-medium;
}
.best-sellers-box__btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.8rem 2rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  font-family: iran-sans-bold;
  margin: 1rem auto 0 auto;
  transition: all 200ms ease-in;
}
.best-sellers-box__btn:hover {
  background-color: #7a8cdf;
}
.best-sellers-box__icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-left: 0.5rem;
}
.best-sellers-all__product-btn {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.best-sellers__btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
}
/* 
  ==========================
    style section comments  
  ==========================
*/
.comments {
  padding-top: 6rem;
  background-color: var(--white-color);
}
.comments-slider {
  padding-top: 5rem !important;
}
.swiper-slide {
  opacity: 0.5;
}
.swiper-slide-next {
  opacity: 1 !important;
}
.comments-slider-item {
  background-color: var(--white-color);
  padding: 4rem;
  border-radius: 3rem;
  box-shadow: rgba(12, 12, 12, 0.150) -2px 1px 12px;
  overflow: h;
  position: relative;
}
.comments-slider-item__text {
  font-size: 1.5rem;
}
.comments-slider-item__detail {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.comments-slider-item-detail__name {
  color: var(--primary-color);
  font-family: iran-sans-medium;
}
.comments-slider-item-detail__rule {
  font-size: 1.4rem;
}
.comments-slider-item-img {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.comments-slider-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5rem solid #f7f7f7;
  border-radius: 100%;
}

.comments-navigation__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  gap: 1rem;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem !important;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 1.25rem 2rem;
  border-radius: 1.5rem;
}
.slider-comments__button-prev,
.slider-comments__button-next {
  position: sticky !important;
  top: 0 !important;
}
.slider-comments__button-prev {
  right: 40% !important;
  padding-left: 4rem;
}
.slider-comments__button-next {
  right: 45% !important;
}
