@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  /* ======================== responsive navbar  ========================*/
  .nav-brand__img,
  .footer-item__img {
    width: 12rem;
  }
  .nav-menu-desktop {
    margin-right: 3rem;
  }
  .nav-menu-desktop__item {
    margin-left: 2rem;
  }
  /* ======================== responsive section home  ========================*/

  .home-wrapper-content {
    margin-right: 0;
  }
  .home-wrapper-content__title {
    max-width: 100%;
    font-size: 4rem;
  }
  /* ======================== responsive section home  ========================*/
  .best-sellers-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .best-sellers-box__title {
    font-family: iran-sans-medium;
    font-size: 1.5rem;
  }
  .best-sellers-box__price {
    font-family: iran-sans-medium;
    font-size: 1.4rem;
  }

  /* ======================== responsive page weblog  ========================*/
  .weblog-items {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ======================== responsive page about us  ========================*/
  .about-us__wrapper {
    align-items: flex-start;
  }

  /* ======================== responsive page contact us  ========================*/
  .contact-us-item {
    flex-basis: 31%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  body {
    font-size: 1.4rem;
  }
  .sm-icon {
    width: 2.1rem;
    height: 2.1rem;
  }
  /* ======================== responsive navbar  ========================*/
  .nav-brand__img,
  .footer-item__img {
    width: 10rem;
  }
  .nav-menu-desktop {
    margin-right: 2rem;
  }
  .nav-menu-desktop__item {
    margin-left: 1.5rem;
  }
  .nav-wrapper-left__login-btn {
    margin-right: 1rem;
    padding: 1.2rem 0.8rem;
  }
  /* ======================== responsive section home  ========================*/

  .home-wrapper-content__title {
    font-size: 3.5rem;
  }

  /* ======================== responsive  book grouping  ========================*/
  .book-grouping-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .book-grouping-item:nth-child(1) {
    background-image: none;
  }
  .book-grouping-item:nth-child(1) .book-grouping-item__img {
    background-image: linear-gradient(90deg, #105372, #105372);
  }

  /* ======================== responsive section home  ========================*/
  .best-sellers-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======================== responsive section writers  ========================*/
  .writers-box {
    width: 48%;
  }
  /* ======================== responsive footer ========================*/

  .footer-items {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 0;
  }
  .footer-item {
    padding-right: 0;
    padding-bottom: 2rem;
  }
  .footer-item--caption {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .footer-item__description {
    font-size: 1.4rem;
  }
  /* ======================== responsive page weblog  ========================*/
  .weblog-item-img {
    height: 29rem;
  }

  /* ======================== responsive page weblog details  ========================*/
  .weblog-details__wrapper {
    flex-direction: column;
  }
  .weblog-details-ads__img {
    height: 35rem;
  }
  .weblog-details__description,
  .weblog-details__sidebar {
    width: 100%;
  }

  /* ======================== responsive page product details  ========================*/
  .product-details__wrapper {
    flex-direction: column;
  }
  .product-details-img,
  .product-details-content {
    width: 100%;
  }
  .product-details-img {
    margin-bottom: 1rem;
  }
  .product-details-content {
    margin-bottom: 4rem;
    text-align: center;
  }

  /* ======================== responsive page about us  ========================*/
  .about-us__wrapper {
    flex-direction: column;
  }
  .about-us-img {
    width: 100%;
  }
  .about-us-content {
    width: 100%;
    margin-top: 3rem;
    margin-right: 0;
  }
  /* ======================== responsive page contact us  ========================*/
  .contact-us__items {
    flex-wrap: wrap;
  }
  .contact-us-item {
    flex-basis: 50%;
    margin-bottom: 3rem;
  }
  .contact-us-testimonials__boxes {
    flex-wrap: wrap;
  }
  .contact-us-testimonials-box {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  /* ======================== responsive navbar  ========================*/
  .nav-menu-desktop {
    display: none;
  }
  .nav-wrapper-right {
    flex-basis: 100%;
    border-bottom-left-radius: 0;
  }
  .nav__wrapper-right {
    justify-content: space-between;
  }
  .nav-wrapper-left {
    display: none;
  }
  .mobile-nav__left-btns {
    display: flex;
    align-items: center;
  }
  /* ======================== responsive section home  ========================*/
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .home-wrapper-content {
    text-align: center;
    margin-top: 1.5rem;
  }
  .home-wrapper__input {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .home-wrapper-content__title {
    font-size: 3rem;
  }
  /* ======================== responsive section home  ========================*/
  .best-sellers-boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ========================== style section comments  ==========================*/
  .swiper-slide {
    opacity: 0.5;
  }
  .swiper-slide-active {
    opacity: 1;
  }

  /* ======================== responsive page weblog  ========================*/
  .weblog-items {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ======================== responsive page weblog details  ========================*/
  .weblog-details-ads__img {
    height: 30rem;
  }
  /* ======================== responsive page contact us  ========================*/
  .contact-us-item {
    flex-basis: 100%;
  }
  .contact-us-testimonials-box {
    width: 100%;
  }

  /* ======================== responsive page shopping-cart  ========================*/
  .shopping-cart-table-heading {
    display: none;
  }
  .shopping-cart-table-body__column {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }
  .shopping-cart-table-body__close {
    padding: 0;
  }
  .shopping-cart-table__footer {
    flex-direction: column;
  }
  .shopping-cart-total-price,
  .shopping-cart__btn {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .section-heading__title {
    width: 21rem;
  }
  /* ======================== responsive section home  ========================*/
  .home-wrapper-content__input,
  .home-wrapper-content__btn {
    padding: 1.5rem 1.25rem;
  }
  /* ======================== responsive section writers  ========================*/
  .writers-box {
    width: 100%;
  }

  /* ======================== responsive footer ========================*/

  .footer-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-item--caption {
    padding-left: 0;
    padding: 0 1rem 2rem 1rem;
  }
  .footer-item {
    border: none;
  }
  .footer__copy-right {
    font-size: 1.4rem;
  }
  .footer-item__description {
    margin-top: 0.4rem;
  }

  /* ======================== responsive page weblog  ========================*/
  .weblog__title {
    text-align: center;
  }

  /* ======================== responsive page weblog details  ========================*/
  .weblog-details__title {
    text-align: center;
    font-size: 1.6rem;
  }
  .weblog-details-ads__img {
    height: 28rem;
  }

  .weblog-details-comments-item-heading__date {
    font-size: 1.25rem;
    margin-right: auto;
  }

  /* ======================== responsive page about us  ========================*/
  .about-us-widget-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-us-content,
  .about-us-ads__details {
    text-align: center;
  }
  .about-us-ads__title {
    font-size: 2.2rem;
  }
  .about-us__title,
  .contact-us__title {
    text-align: center;
  }
  /* ======================== responsive page contact us  ========================*/
  .contact-us__items {
    flex-direction: column;
    justify-content: center;
  }
  .contact-us-item {
    flex-direction: column;
    text-align: center;
  }
  .contact-us-item-content__link {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  .best-sellers-box-content__heading {
    flex-direction: column;
  }
  .best-sellers-box__price {
    margin-top: 0.5rem;
  }

  .best-sellers-heading {
    flex-direction: column;
  }
  .best-sellers-heading__title {
    margin-bottom: 1rem;
  }
}
